#main-footer{
    background-color:#8282820a;
    padding:30px;
}

h5{
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #3b3a3a;
    font-family: Roboto,sans-serif;
}
nav{
    justify-content: start;
    font-family: Roboto,sans-serif;
    font-size: 15px;
}
.nav-link{
    color: #9e9a9a;
    padding-left:0px;
}

.nav-link:hover{
    color: #27AE60;
}

.padded{
    padding-left:80px;
}
#logo{
    margin-top: 30px;
    width:100px;
    height:25px;
}